/*-- scss:defaults --*/


/*-- scss:rules --*/

/*-- header background --*/
#quarto-header > nav {
  background-color: #8399B0;
}

/*-- callout note background --*/
div.callout-note.callout {
  border-left-color: #8399B0;
}

/*-- links --*/
a {
  color: #8399B0;
}

/*-- search box --*/
body > div.aa-DetachedOverlay > div > div > form {
    border-color: #8399B0!important;
    color
}

/*-- button --*/
body > div.aa-DetachedOverlay > div > div > button {
    border-color: #8399B0;
}




